.row {
  background: red
}

.cretets {
  display: block;
  position: relative;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.print {
    display: none;
}
@media print {
   .screen {
       display: none;
    }
    .print {
       display: block;
    }
}

