nav ul {
  border: 2px solid gray;
  list-style-type: none;
  background-color: #630a75;
  border: 4px solid #111111;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 16px;
  width: 100%;
  text-align: center;
}

nav ul li {
  display: inline;
  border-right: 2px solid #111111;
  padding: 2px;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  text-decoration: none;
  color: #111111;
}

.cretets {
  display: block;
  position: relative;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.print {
  display: none;
}

@media print {
  .screen {
    display: none;
  }
  .print {
    display: block;
  }
}

.hotel{
  width: 100%;
  display: block; /* BUG: display:for centering must be block*/
  text-align: center;
  font-size: 1599%;
}
